{% extends "views/base.twig" %}
{% block title %}ChartZou : about{% endblock %}
{% block content %}
  <!-- Icons Grid -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12 pt-4">
            <h1>About</h1>
            <p>ChartZou is a <a href="https://jeveuxmon.app/" target="_blank">JEVEUXMON APP</a> service, <a href="https://jeveuxmon.app/" target="_blank">JEVEUXMON APP</a> is dedicated to build business application for low sized company.</p>
            <p>ChartZou is edited by ETS Jeremy Gaultier Stéphane Michel 350 Chemin du Pré Neuf 38350 La Mure.</p>
            <p>ChartZou is hosted by DigitalOcean</p>
        </div>
    </div>
  </section>
{% endblock %}