{% extends "views/base.twig" %}
{% block title %}ChartZou : about{% endblock %}
{% block content %}
  <!-- Icons Grid -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12 pt-4">
            <h1>Contact</h1>
            <p>You have a question about ChartZou ? fill this form, a response will be made to you within 48 hours.</p>
            <p><input type="email" placeholder="Your email" class="form-control" />.</p>
            <p><textarea class="form-control" rows="6"></textarea></p>
            <p class="text-right"><button class="btn btn-primary btn-contact">Contact us</button></p>
        </div>
    </div>
  </section>
  <script type="text/javascript" src="contact.js"></script>
{% endblock %}