{% extends "chartzou::base.twig" %}
{% block title %}Create dashboard - ChartZou{% endblock %}
{% block head %}
<script src="http://code.highcharts.com/stock/highstock.js" type="text/javascript" charset="utf-8"></script>
<script src="https://code.highcharts.com/maps/modules/map.js" type="text/javascript" charset="utf-8"></script>
    
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.18.2/codemirror.min.js'></script>
<link href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.18.2/codemirror.min.css' type="text/css" rel="stylesheet"></link>
<link href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.18.2/theme/neo.min.css' type="text/css" rel="stylesheet"></link>
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.18.2/mode/javascript/javascript.min.js'></script> 

<script src="https://code.highcharts.com/adapters/standalone-framework.js" type="text/javascript" charset="utf-8"></script>
<script src="https://code.highcharts.com/highcharts-more.js" type="text/javascript" charset="utf-8"></script>
<script src="https://code.highcharts.com/highcharts-3d.js" type="text/javascript" charset="utf-8"></script>
<script src="https://code.highcharts.com/modules/data.js" type="text/javascript" charset="utf-8"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/funnel.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<link href="http://editor.highcharts.com/highcharts-editor.min.css" type="text/css" rel="stylesheet"/>
<script src="http://editor.highcharts.com/highcharts-editor.complete.js"></script>
{% endblock %}

{% block content %}
  <style type="text/css">
    .grid-stack { background: #636361; }
    .grid-stack-item-content { background-color: rgba(255, 255, 255, 0.521); border:1px solid rgba(0, 0, 0, 200); }
  </style>
  <!-- Icons Grid -->
  <section>
    <div class="container">
      <div class="row mt-5">
        <div class="col-6 text-left">
            <input class="form-control" placeholder="My incredible dashboard" id="name-dashboard" type="text" value="{{ dashboard.name }}" />
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary" href="/dashboard">Dashboard list</a>
        </div>
      </div>
      <div class="row mt-3">  
        <div class="col-6 text-left">
            <button class="btn btn-secondary" id="save-dashboard">Save dashboard</button>
        </div>
        <div class="col-6 text-right">
          <button class="btn" id="add-card">Add card item</button>
          <button class="btn" id="add-graph">Add chart item</button>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="mt-4 grid-stack"></div>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript" src="dashboard.js"></script>
{% endblock %}